.todoForm {
    margin: 0 auto;
    width: 50%;
    background-color: bisque;
    box-shadow: 2px 2px 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 25px;
}

.todoHeader {
    text-align: center;
    font-family: cursive;
    font-style: italic;
}

.todoLabel {
    display: inline-block;
    font-family: cursive;
    
}

.todoTextarea {
    vertical-align: top;
    resize: none;
}

.todoTitle {
    width: 50%;
    margin-left: 96px;
}

.todoButtonRow {
    width: 100%;
    text-align: right;
}

.saveToLocaleStorageButton {
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #9555af;
    box-shadow: 2px 2px 2px black;
}

.clearTodoButton {
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: red;
    box-shadow: 2px 2px 2px black;
}

.saveToDatabaseButton {
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: green;
    box-shadow: 2px 2px 2px black;
}

.todoSelect {
    display: inline-block;
    width: 60%;
    margin-left: 13px;
}