.solarsystem {
    color: whitesmoke;
    height: 700px;
    width: auto;
    border: 1px solid green;
}

.infoRow {
    width: 1000px;
    color: orange;
    display: inline-block;
}

.news {
    display: inline-block;
    padding: 3rem;
    color: orangered;
    border: 1px solid yellow;
    width: 10%;
}

.titlearea {
    color:orchid;
    border: 1px solid blue;
    margin: 0 auto;
    width: 50%;
    padding: 3rem;
    text-align: center;
    font-style: italic;
    font-family: 'Pacifico';
    font-weight: bold;
    display: inline-block;
}

.todoNews {
    margin-left: 15px;
    color:olivedrab;
    display: inline-block;
    padding: 3rem;
    border: 1px solid brown;
}