A {
    display: block;
    padding:10px;
    border: 3px solid hotpink;
    box-shadow: 1px 10px 15px black;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-style: italic;
    font-family: 'Pacifico';
    font-weight: bold;
    background-image: linear-gradient(to bottom right, red, yellow);
}

A:hover {
    box-shadow: 0 0 25px orangered;
}

.dashboard {
    border-radius: 10px;
    width: 15%;
    padding: 15px;
    margin: 0 1rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.top {
    width: 100%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.infoRow {
    width: 100%;
    color: orange;
    display: flex;
}

.news {
    display: inline-block;
    padding: 3rem;
    color: orangered;
    width: 7%;
}

span {
    vertical-align: top
}

.titlearea {
    color:orchid;
    margin: 0 auto;
    width: 60%;
    padding: 3rem;
    font: italic bold 20px 'Pacifico';
    display: inline-block;
}

.todoNews {
    color:olivedrab;
    display: inline-block;
    padding: 3rem;
    width: 30%;
}