.headerUl {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    background: coral;
    box-shadow: 2px 2px 2px black;
}

.menuLink {
    display: inline-block;
}

li a {
    padding: 15px;
    color: white;
    text-align: center;
}