.searchBox {
    width: 20%;
    color: green;
    border: 1px solid red;
    padding: 10px 10px;
    border-radius: 25px;
    display: inline-block;
    position: fixed;
    margin-top: 10px;
    box-shadow: 2px 2px 20px silver;
}

.date {
    color:blue;
    background: yellow;
    float: right;
}

.response { 
    display: inline-block;
    border: 1px ridge black;
    position: fixed;
    padding: 10px 10px;
    margin: 10px 0 0 260px;
    box-shadow: 5px 5px 5px silver;
    border-radius: 25px;
}

.submit {
    float: right;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #9555af;
    box-shadow: 2px 2px 2px black;
}