.searchBox {
    width: 13%;
    color: green;
    border: 1px solid red;
    padding: 10px 10px;
    border-radius: 25px;
    display: inline-block;
    position: fixed;
    margin-top: 40px;
    box-shadow: 2px 2px 20px silver;
    z-index: -1 !important;
}

.date {
    color:blue;
    background: yellow;
    float: right;
    width: 130px;
}

.response { 
    border: 1px ridge black;
    position: fixed;
    width: 27%;
    padding: 10px 10px;
    margin: 40px 0 0 260px;
    box-shadow: 5px 5px 5px silver;
    border-radius: 25px;
    z-index: -1 !important;
}

.year .month .day .hour {
    text-align: center;
}

.ReactTable{
    width: 90%;
    margin-left:15px;
}

.lookup {
    float: right;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #9555af;
    box-shadow: 2px 2px 2px black;
}

.Table__pageButton {
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    background-color:black;
    cursor: pointer;
    color: green;
    float: left;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}

.fade-exit-done {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity300ms linear;
}

